<!DOCTYPE html>
<html>
    <head>
        <title>Welcome, <%= me.firstName %>!</title>
    </head>
    <body class="page-body">
        <div class="container-fluid">
            <h1>user dashboard</h1>
        </div>
    </body>
</html>
