<!DOCTYPE html>
<html>
    <head>
        <title>Welcome, <%= me.firstName %>!</title>
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: '<%= _csrf %>', me: <%- JSON.stringify(me) %> };
        </script>
    </head>
    <body class="page-body" ng-app="DashboardModule" ng-controller="DashboardCtrl" ng-cloak>
        <div class="container-fluid">
            <div class="row">
                <div id="my-leagues">
                    <a href="/myleagues" class="btn btn-lg btn-primary">MY LEAGUES</a>
                </div>
                <div id="join-league">
                    <a href="/joinleague" class="btn btn-lg btn-primary">JOIN LEAGUE</a>
                </div>
                <div id="create-league">
                    <a href="/createleague" class="btn btn-lg btn-primary">CREATE LEAGUE</a>
                </div>
            </div>
        </div>
    </body>
</html>
