<!DOCTYPE html>
<html>
    <head>
        <title>Welcome, <%= me.firstName %>!</title>
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: '<%= _csrf %>', me: <%- JSON.stringify(me) %> };
        </script>
        <meta name="viewport" content="width=auto, initial-scale=1, maximum-scale=1">
    </head>
    <body class="page-body" ng-app="DraftboardModule" ng-controller="DraftboardCtrl" ng-cloak>
        <div class="container-fluid">

            <!-- DRAFT BUTTON ROW -->
<!--             <div class="row" id="draft-player-btn-div">
                <button type="button" class="btn btn-md btn-primary" id="draft-player-btn">DRAFT PLAYER</button>
            </div> -->

            <!-- DRAFTBOARD ROW -->
            <div class="row">
                <div class="col-xs-12" class="draftboard">
                    
                        <table id="draftboard-table">
                            
                            <!-- ROUND 1 -->
                            <thead class="owner-names">
                                <tr><th ng-repeat="owner in owners1">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index < 12">{{ playerName.playerName }}</td></tr>
                            </tbody>

                            <!-- ROUND 2 -->
                            <thead class="owner-names">
                                <tr><th ng-repeat="owner in owners2">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 11 && $index < 24">{{ playerName.playerName }}</td></tr>
                            </tbody>

                            <!-- ROUND 3 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners3">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 23 && $index < 36">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 4 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners4">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 35 && $index < 48">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 5 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners5">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 47 && $index < 60">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 6 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners6">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 59 && $index < 72">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                        </table>
                    
                </div>
            </div>


        </div>
    </body>
</html>
