<!DOCTYPE html>
<html>
    <head>
        <title>Welcome, <%= me.firstName %>!</title>
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: '<%= _csrf %>', me: <%- JSON.stringify(me) %> };
        </script>
    </head>
    <body class="page-body" ng-app="DraftboardModule" ng-controller="DraftboardCtrl" ng-cloak>

        <div class="container-fluid">


            <!-- BUTTON TO LAUNCH DRAFT PLAYER MODAL -->
            <div class="row" id="draft-player-btn-div">
                <button type="button" class="btn btn-md btn-primary" id="draft-player-btn" ng-click="open()">DRAFT PLAYER</button>
            </div>

            <!-- DRAFT PLAYER MODAL -->
            <script type="text/ng-template" id="table.html" id="myModal">
                <div class="modal-content" id="draftPlayerModal" tabindex="-1">

                    <!-- MODAL DRAFTBOARD FORM -->
                    <form ng-submit="submitDraftboardForm()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close" ng-click="cancel()">
                                <span id="modal-x-icon" aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="modalLabel">ENTER DRAFT SELECTION</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="draftselection" placeholder="Player Name" ng-model="draftboardForm.playerName" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label id="position-label">Position</label><br>
                                <select class="draftplayer-select" name="position" ng-model="draftboardForm.position" ng-options="opt for opt in ['QB','RB','WR','TE','K','DST']" required>
                                    <option></option><option>QB</option><option>RB</option><option>WR</option><option>TE</option><option>K</option><option>DST</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-lg btn-primary">SUBMIT SELECTION</button>
                        </div>
                    </form>

                </div>
            </script>

            <ul id="draftboard-tabs" class="nav nav-tabs">
				<li role="presentation" class="active"><a data-toggle="tab" href="#draftboard_2018">2018 Draft</a></li>
				<li role="presentation"><a data-toggle="tab" href="#draftboard_2017">2017 Draft</a></li>
                <li role="presentation"><a data-toggle="tab" href="#list">List</a></li>
			</ul>

            <!-- DRAFTBOARD ROW -->
            <div class="tab-content row">
                <!-- 2018 DRAFT -->
                <div id="draftboard_2018" class="tab-pane fade in active draftboard col-xs-12">
                    <table class="table" id="draftboard-table">

                        <!-- ROUND 1 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners1_2018">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 59 && $index < 72">{{ playerName.playerName | uppercase }}</td></tr>
                            <!-- <tr><td ng-repeat="position in attributes.position" ng-if="$index < 12" ng-style="set_color(position)">{{ position.position }}</td></tr> -->
                        </tbody>

                        <!-- ROUND 2 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners2_2018">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 71 && $index < 84">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 3 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners3_2018">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 83 && $index < 96">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 4 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners4_2018">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 95 && $index < 108">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 5 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners5_2018">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 107 && $index < 120">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                    </table>
                </div>
                <!-- END 2018 DRAFT -->
                <!-- 2017 DRAFT -->
                <div id="draftboard_2017" class="tab-pane fade draftboard col-xs-12">
                    <table class="table" id="draftboard-table">

                        <!-- ROUND 1 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners1_2017">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index < 12">{{ playerName.playerName | uppercase }}</td></tr>
                            <!-- <tr><td ng-repeat="position in attributes.position" ng-if="$index < 12" ng-style="set_color(position)">{{ position.position }}</td></tr> -->
                        </tbody>

                        <!-- ROUND 2 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners2_2017">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 11 && $index < 24">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 3 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners3_2017">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 23 && $index < 36">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 4 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners4_2017">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 35 && $index < 48">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>

                        <!-- ROUND 5 -->
                        <thead class="owner-names">
                            <tr><th ng-repeat="owner in owners5_2017">{{ owner.owner }}</th></tr>
                        </thead>
                        <tbody class="player-names">
                            <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 47 && $index < 60">{{ playerName.playerName | uppercase }}</td></tr>
                        </tbody>
                    </table>
                </div>
                <!-- END 2017 DRAFT -->

                <div id="list" class="tab-pane fade">
			        <div id="list-left">
				        <ol>
				        	<li ng-if="$index > 59 && $index < 120" ng-repeat="position in attributes.position | orderBy:'$index':reverse">
				        		<p id="ol-position" ng-style="set_color(position)">{{ position.position }}</p>
				        	</li>
				        </ol>
			        </div>
			        <div id="list-right">
				        <ol id="list-right-ol">
				        	<li ng-if="$index > 59 && $index < 120" ng-repeat="playerName in attributes.playerName | orderBy:'$index':reverse">
				        		<p id="ol-playerName">{{ playerName.playerName }}</p>
				        	</li>
				        </ol>
	            	</div>
		        </div>

            </div>
        </div>
    </body>
</html>
