<!DOCTYPE html>
<html>
    <head>
        <title>Welcome, <%= me.firstName %>!</title>
        <script type="text/javascript">
            window.SAILS_LOCALS = { _csrf: '<%= _csrf %>', me: <%- JSON.stringify(me) %> };
        </script>
    </head>
    <body class="page-body" ng-app="DraftboardModule" ng-controller="DraftboardCtrl" ng-cloak>
        <div class="container-fluid" id="draftboard-container">

            <!-- DRAFT BUTTON ROW -->
            <div class="row">

            </div>

            <!-- DRAFTBOARD ROW -->
            <div class="row">
                <div class="tab-content">
                    <div class="draftboard_2017" class="tab-pane fade in active draftboard">
                        <table id="draftboard-table">
                            
                            <!-- ROUND 1 -->
                            <thead class="owner-names">
                                <tr><th ng-repeat="owner in owners1_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index < 12">{{ playerName.playerName }}</td></tr>
                            </tbody>

                            <!-- ROUND 2 -->
                            <thead class="owner-names">
                                <tr><th ng-repeat="owner in owners2_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 11 && $index < 24">{{ playerName.playerName }}</td></tr>
                            </tbody>

                            <!-- ROUND 3 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners3_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 23 && $index < 36">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 4 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners4_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 35 && $index < 48">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 5 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners5_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 47 && $index < 60">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                            <!-- ROUND 6 -->
                            <thead id="owner-names">
                                <tr><th ng-repeat="owner in owners6_2017">{{ owner.owner }}</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td ng-repeat="playerName in attributes.playerName" ng-if="$index > 59 && $index < 72">{{ playerName.playerName }}</td></tr> -->
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>


        </div>
    </body>
</html>
