<!DOCTYPE html>
<html>
    <head>
        <title>DynastyDraftBoard</title>
    </head>
    <body class="page-body" ng-app="HomepageModule" ng-controller="HomepageCtrl" ng-cloak>
        <div class="container-fluid">
            <!-- <div class="ContentBlock1"><h1>DYNASTY DRAFT BOARD</h1></div> -->
            <div class="homepage-image"><a href="/login"><img src="/images/lion2.jpg" style="width: 250px;"></a></div>
            <div class="content-block" id="homepage-banner-text"><h2>Fantasy Football Draft Board</h2></div>
            <div class="homepage-buttons">
                <a href="/login" class="btn btn-lg btn-primary">LOG IN</a>
                <a href="/signup" class="btn btn-lg btn-primary">SIGN UP</a>
            </div>
        </div>
    </body>
</html>