<!DOCTYPE html>
<html>
    <head>
        <title>DynastyDraftBoard</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body class="page-body" ng-app="HomepageModule" ng-controller="HomepageCtrl" ng-cloak>
        <div class="body-container">
            <!-- <div class="ContentBlock1"><h1>DYNASTY DRAFT BOARD</h1></div> -->
            <div class="ContentBlock2"><h2>A Virtual Draft Board for Fantasy Football Leagues</h2></div>
            <div class="ContentBlock3"><h4>allows your league to draft just like you would in person, but from anywhere in the world and from any device</h4>
            <div class="homepage-button">
                <a href="/signup" id="custom-button" class="btn btn-lg btn-primary">CREATE LEAGUE</a>
            </div>
        </div>
        <footer class="footer"><h5>built by fantasy players for fantasy players</h5></footer>
    </body>
</html>