<!DOCTYPE html>
<html>
    <head>
        <title>Log In - DynastyDraftBoard</title>
    </head>
    <body class="page-body" ng-app="LoginModule" ng-controller="LoginCtrl" ng-cloak>
        <div class="container-fluid">
            Login page
        </div>
    </body>
</html>