<!DOCTYPE html>
<html>
    <head>
    </head>
    <body class="page-body" ng-app="LoginModule" ng-controller="LoginCtrl" ng-cloak>
        <div class="container">
            Login page
        </div>
    </body>
</html>