<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up - DynastyDraftBoard</title>
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/angular-toastr.css">
        <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/scrolling-nav.css">
        <!--STYLES END-->
    </head>
    <body class="page-body" ng-app="SignupModule" ng-controller="SignupCtrl" ng-cloak>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-cloak>
            <div class="nav-container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                    <a class="navbar-brand" id="navbar-title" data-target="" href="/">DynastyDraftBoard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" id="navbar-ul">
                        <!-- Hidden li included to remove active class from intro link when scrolled up past intro section -->
                        <li class="hidden"><a class="page-scroll" href="#page-top"></a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/signup">Sign Up</a></li>
                        <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/signin">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4" id="signup-form-container">
                    <!-- FORM -->
                    <form name="signup" id="signup" ng-submit="submitSignupForm()" novalidate>

                        <!-- EMAIL -->
                        <div class="form-group" ng-class="{ 'has-error' : signup.email.$invalid && signup.email.$dirty }">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" ng-model="signupForm.email" ng-maxlength="50" required>
                            <span class="help-block has-error" ng-if="signup.email.$dirty" ng-cloak>
                                <span ng-show="signup.email.$error.required">Email is Required</span>
                                <span ng-show="signup.email.$error.maxlength">Email Cannot be More Than 50 Characters</span>
                            </span>
                        </div>

                        <!-- FIRST NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : signup.firstName.$invalid && signup.firstName.$dirty }">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" ng-model="signupForm.firstName" ng-maxlength="50" required>
                            <span class="help-block has-error" ng-if="signup.firstName.$dirty">
                                <span ng-show="signup.firstName.$error.required">First Name is Required</span>
                                <span ng-show="signup.firstName.$error.maxlength">First Name Cannot be More Than 50 Characters</span>
                            </span>
                        </div>

                        <!-- LAST NAME -->
                        <div class="form-group" ng-class="{ 'has-error' : signup.lastName.$invalid && signup.lastName.$dirty }">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" ng-model="signupForm.lastName" ng-maxlength="50" required>
                            <span class="help-block has-error" ng-if="signup.lastName.$dirty">
                                <span ng-show="signup.lastName.$error.required">Last Name is Required</span>
                                <span ng-show="signup.lastName.$error.maxlength">Last Name Cannot be More Than 50 Characters</span>
                            </span>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group" ng-class="{ 'has-error' : signup.password.$invalid && signup.password.$dirty }">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" ng-model="signupForm.password" ng-minlength="6" ng-maxlength="50" required>
                            <span class="help-block has-error" ng-if="signup.password.$dirty">
                                <span ng-show="signup.password.$error.required">Password is Required</span>
                                <span ng-show="signup.password.$error.maxlength">Password Cannot be More Than 50 Characters</span>
                            </span>
                        </div>

                        <!-- PASSWORD CONFIRMATION -->
                        <div class="form-group" ng-class="{ 'has-error' : signup.passwordConfirmation.$invalid && signup.passwordConfirmation.$dirty }">
                            <label for="passwordConfirmation">Confirm Password</label>
                            <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" ng-model="signupForm.passwordConfirmation" compare-to="signupForm.password" required>
                            <span class="help-block has-error" ng-if="signup.passwordConfirmation.$dirty">
                                <span ng-show="signup.passwordConfirmation.$error.compareTo">Passwords Must Match</span>
                                <br>
                                <span ng-show="signup.passwordConfirmation.$error.required">Password Confirmation is Required</span>
                            </span>
                        </div>

                        <!-- CREATE ACCOUNT -->
                        <button type="submit" class="btn btn-lg btn-primary" id="createAcctBtn" ng-disabled="signup.$invalid">
                            <span ng-show="!signupForm.loading">CREATE ACCOUNT</span>
                            <span ng-show="signupForm.loading" class="fa fa-spinner"></span>
                            <span ng-show="signupForm.loading">CREATING ACCOUNT...</span>
                        </button>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
