<!DOCTYPE html>
<html>
    <head>
        <title>DynastyDraftBoard</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body class="page-body" ng-app="SignupModule" ng-controller="SignupCtrl" ng-cloak>
        <div class="container">
            sign up bitches!
        </div>
        <footer class="footer"><h5>built by fantasy players for fantasy players</h5></footer>
    </body>
</html>