@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

////////////////////////////////////////
///     SITE WIDE STYLES
////////////////////////////////////////
body {
    font-size: 1em !important;
}

.page-body {
    font-family: 'Jura', serif;
    color: @white;
    // text-transform: uppercase;
    text-align: center;
    background-color: @black;
    //width: auto !important;
    // background-image: url("/images/field1.jpg");
    //background-color: #222222;
    //background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.container-fluid {
    padding-top: 12%;
    //width: auto;

    #homepage-image {
        text-align: center;
    }
}   

.btn-primary {
    .btn-primary-mixin();
}

// DROPDOWN SELECTS USED IN CREATE LEAGUE FORM
select {
    .selects-mixin();
}

////////////////////////////////////////
///     NAVBAR
////////////////////////////////////////

// PREVENTS NAVBAR FROM FLASHING ON PAGE LOAD
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}


// BOOTSTRAP CONTAINER
.navbar {
    border-radius: 0px;
    font-family: 'Abel', serif;
    //background-color: #000000;
    //background-image: url("/images/congruent_outline.png");
    background-repeat: repeat;

    aria-expanded {

    }
}

// LAST ITEM IN LIST
.navbar-nav.navbar-right:last-child {
    margin-right: 2px;
}

// NAVBAR BUTTON - THREE BARS TO X ANIMATION
.navbar-toggle {
    .navbar-mixin();
}

// NAVBAR UL
#navbar-ul {
    text-align: right;
    font-size: 1.5em;
}

////////////////////////////////////////
///     HOMEPAGE VIEW
////////////////////////////////////////

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#homepage-banner-text {
    color: @white;
    .background-color-mixin();
    .text-shadow-blue-mixin();
}


////////////////////////////////////////
///     SIGNUP VIEW
////////////////////////////////////////
#signup-form-container {
    padding-left: 5%;
    padding-right: 5%;
}

label {
    color: @white !important;
    float: left;
    padding-top: 10px;
    //text-shadow: 0 0 5px #1fc139,0 0 10px #1fc139,0 0 20px #1fc139,0 0 30px #1fc139,0 0 40px #11691f,0 0 55px #11691f;
    //.text-shadow-pink-mixin();
    .text-shadow-blue-mixin();
}

.form-control {
    color: @white;
    font-size: 20px !important;
    text-align: center;
    .background-color-mixin();
    border-color: @blue-light;
    //box-shadow: 0 0 15px 2px #1fc139,#1fc139 0 0 11px 3px inset;
    //.box-shadow-pink-mixin();
    .box-shadow-blue-mixin();
    .text-shadow-blue-mixin();

    &:focus {
        color: @white;
        border-color: @blue-light;
        .background-color-mixin();
        .box-shadow-blue-mixin();
        .text-shadow-blue-mixin();
    }
}

.has-error {
    .form-control {
            color: @white;
            border-color: @pink-light;
            .background-color-mixin();
            .box-shadow-pink-mixin();

        &:focus {
            color: @white;
            border-color: @pink-light;
            .background-color-mixin();
            .box-shadow-pink-mixin();
        }
    }
}

span.help-block.has-error.ng-scope{
        color: @white;
        text-align: right;
        .background-color-mixin();
        .text-shadow-pink-mixin();
}

// select {
//     color: @blue-light !important;
//     text-align: center !important;
//     // width: 20% !important;
// }


////////////////////////////////////////
///     DASHBOARD
////////////////////////////////////////
.table-responsive {
    min-width: 100px;
    max-width: 250px;
    margin: auto;
    font-size: 1.5em;  
    // display: block;
    text-align: center;
    border-color: transparent;
    color: @white !important;
    .text-shadow-blue-mixin();

    thead tr th {
        text-align: right;
        border-color: grey;
        border-width: 1px;
        font-size: 1.2em;
    }

    tbody tr td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        text-align: left;

        a {
            color: @white;

            &:hover {
                text-decoration: none;
                //color: #DB0A5B;
                color: yellow;
            }
        }
    }
}

#my-leagues {
    margin-bottom: 25px;
}


////////////////////////////////////////
///     CREATE LEAGUE VIEW
////////////////////////////////////////
#create-league-container {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 25px;
}

#createLeague {

    label {
        float: none;
    }
}


////////////////////////////////////////
///     DRAFTBOARD VIEW
////////////////////////////////////////

#draftboard-container {
    // width: 90%;
    // margin-left: 5%;
    // margin-right: 5%;
    //margin-top: 3%;    
}

// @media(min-width:767px) {
//     #draftboard-table {
//         font-size: 0.5em !important;
//     }
// }

// DRAFTBOARD TABLE
#draftboard-table {
    margin: auto;
    //table-layout: fixed;
    //font-size: 1.5em;
    width: 90%;

    table, thead, tbody, tr, th, td {
        border: 1px solid black;
        padding: 10px;
        width: 7%;
        text-align: center;
        //font-size: 1.1em;
    }

    thead tr th {
        .text-shadow-blue-mixin();
        background: #222;
        color: white;
        margin: auto;
    }
}

.player-names {
    font-size: 1.5em;
    .text-shadow-turquoise-mixin()
    //.text-shadow-pink-mixin();
    //background-color: #181818;
}

.modal {
    background-color: #111;
    opacity: 0.9 !important;

    .modal-content {
    background-color: black;
    text-align: center;

        #modal-x-icon {
            color: white;
        }

        label {
            float: none !important;
        }

        input {
            width: 50%;
            margin: auto !important;
        }

        .modal-footer {
            text-align: center;
        }
    }
}

// .modal-backdrop {
//     opacity: 0.5 !important;
// }



// .fade {
//     opacity: 0.9 !important;
//     -webkit-transition: opacity 1.25s linear;
//       -moz-transition: opacity 1.25s linear;
//        -ms-transition: opacity 1.25s linear;
//         -o-transition: opacity 1.25s linear;
//            transition: opacity 1.25s linear;
// }






















