@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

////////////////////////////////////////
///     SITE WIDE STYLES
////////////////////////////////////////

.page-body {
    font-family: 'Jura', serif;
    color: @white;
    // text-transform: uppercase;
    text-align: center;
    min-height: 100%;
    background-color: @black;
    // background-image: url("/images/field1.jpg");
}

.container-fluid {
    padding-top: 14%;

    #homepage-image {
        text-align: center;
    }
}   

.btn-primary {
    .btn-primary-mixin();
}

// DROPDOWN SELECTS USED IN CREATE LEAGUE FORM
select {
    .selects-mixin();
}

////////////////////////////////////////
///     NAVBAR
////////////////////////////////////////

// PREVENTS NAVBAR FROM FLASHING ON PAGE LOAD
[ng\:cloak], [ng-cloak], .ng-cloak {
display: none !important;
}


// BOOTSTRAP CONTAINER
.navbar {
    border-radius: 0px;
    font-family: 'Abel', serif;
    //background-color: #000000;
    //background-image: url("/images/congruent_outline.png");
    background-repeat: repeat;

    aria-expanded {

    }
}

// LAST ITEM IN LIST
.navbar-nav.navbar-right:last-child {
    margin-right: 2px;
}

// NAVBAR BUTTON - THREE BARS TO X ANIMATION
.navbar-toggle {
    .navbar-mixin();
}

// NAVBAR UL
#navbar-ul {
    text-align: right;
    font-size: 1.2em;
}

////////////////////////////////////////
///     HOMEPAGE
////////////////////////////////////////

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#homepage-banner-text {
    color: @white;
    .background-color-mixin();
    .text-shadow-blue-mixin();
}


////////////////////////////////////////
///     SIGNUP PAGE
////////////////////////////////////////
#signup-form-container {
    padding-left: 5%;
    padding-right: 5%;
}

label {
    color: @white !important;
    float: left;
    padding-top: 10px;
    //text-shadow: 0 0 5px #1fc139,0 0 10px #1fc139,0 0 20px #1fc139,0 0 30px #1fc139,0 0 40px #11691f,0 0 55px #11691f;
    //.text-shadow-pink-mixin();
    .text-shadow-blue-mixin();
}

.form-control {
    color: @white;
    font-size: 20px !important;
    text-align: center;
    .background-color-mixin();
    border-color: @blue-light;
    //box-shadow: 0 0 15px 2px #1fc139,#1fc139 0 0 11px 3px inset;
    //.box-shadow-pink-mixin();
    .box-shadow-blue-mixin();
    .text-shadow-blue-mixin();

    &:focus {
        color: @white;
        border-color: @blue-light;
        .background-color-mixin();
        .box-shadow-blue-mixin();
        .text-shadow-blue-mixin();
    }
}

.has-error {
    .form-control {
            color: @white;
            border-color: @pink-light;
            .background-color-mixin();
            .box-shadow-pink-mixin();

        &:focus {
            color: @white;
            border-color: @pink-light;
            .background-color-mixin();
            .box-shadow-pink-mixin();
        }
    }
}

span.help-block.has-error.ng-scope{
        color: @white;
        text-align: right;
        .background-color-mixin();
        .text-shadow-pink-mixin();
}

// select {
//     color: @blue-light !important;
//     text-align: center !important;
//     // width: 20% !important;
// }


////////////////////////////////////////
///     DASHBOARD
////////////////////////////////////////
.table-responsive {
    min-width: 100px;
    max-width: 250px;
    margin: auto;
    font-size: 1.1em;  
    // display: block;
    text-align: center;
    border-color: transparent;
    color: @white !important;
    .text-shadow-blue-mixin();

    thead tr th {
        text-align: right;
        border-color: grey;
        border-width: 1px;
        font-size: 1.2em;
    }

    tbody tr td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        text-align: left;

        a {
            color: @white;

            &:hover {
                text-decoration: none;
                //color: #DB0A5B;
                color: yellow;
            }
        }
    }
}

#my-leagues {
    margin-bottom: 25px;
}


////////////////////////////////////////
///     CREATE LEAGUE PAGE
////////////////////////////////////////
#create-league-container {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 25px;
}

#createLeague {

    label {
        float: none;
    }
}


