@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/////////////// BODY & SITE WIDE STANDARDS ///////////////

// BODY ELEMENT
.page-body {
    font-family: 'Jura', serif;
    color: #ffffff;
    // text-transform: uppercase;
    text-align: center;
    min-height: 100%;
    background-color: #000000;
    // background-image: url("/images/field1.jpg");
}

.container {
    padding-top: 14%;

    #homepage-image {
        text-align: center;
    }
}   

#custom-button1 {
    color: #ffffff;
    border-color: #22A7F0;
    background-color: transparent;
    border-radius: 0px;
    width: 12em;
    margin-top: 50px;

    &:hover {
        color: #fff;
        border-color: #22A7F0;
        background-color: transparent;
        box-shadow: 0 0 15px 2px #2175c0,#2175c0 0 0 11px 3px inset;
        text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #22A7F0,0 0 55px #22A7F0;
    }
}

/////////////// NAVBAR ///////////////


// BOOTSTRAP CONTAINER
.navbar {
    border-radius: 0px;
    font-family: 'Abel', serif;
    //background-color: #000000;
    //background-image: url("/images/congruent_outline.png");
    background-repeat: repeat;
}

// LAST ITEM IN LIST
.navbar-nav.navbar-right:last-child {
    margin-right: 2px;
}

// NAVBAR BUTTON - THREE BARS TO X ANIMATION
.navbar-toggle {
    border: none;
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        background-color: #9d9d9d !important;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; 
    }

    .top-bar {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
                transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
                transform-origin: 10% 90%;
    }

    &.collapsed {
        .top-bar {
            -webkit-transform: rotate(0);
                    transform: rotate(0);
        }

        .middle-bar {
            opacity: 1;
        }

        .bottom-bar {
            -webkit-transform: rotate(0);
                    transform: rotate(0);
        }
    }
}

// NAVBAR UL
#navbar-ul {
    text-align: right;
    font-size: 1.2em;
}

/////////////// HOMEPAGE ///////////////

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#homepage-banner-text {
    color: #fff;
    background-color: transparent;
    text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #22A7F0,0 0 55px #22A7F0;
}


/////////////// SIGNUP PAGE ///////////////
#input-container {
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

label {
    color: #fff !important;
    float: left !important;
    //text-shadow: 0 0 5px #1fc139,0 0 10px #1fc139,0 0 20px #1fc139,0 0 30px #1fc139,0 0 40px #11691f,0 0 55px #11691f;
    //text-shadow: 0 0 5px #ce08d7,0 0 10px #ce08d7,0 0 20px #ce08d7,0 0 30px #ce08d7,0 0 40px #700475,0 0 55px #700475;
    text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #22A7F0,0 0 55px #22A7F0;
}

.input-label {
    text-align: left !important;
}

.form-group {
    //box-shadow: 0 0 15px 2px #2175c0,#2175c0 0 0 11px 3px inset;
}

.form-control {
    color: #fff;
    font-size: 20px !important;
    text-align: center;
    background-color: transparent;
    border-color: #22A7F0;
    //box-shadow: 0 0 15px 2px #1fc139,#1fc139 0 0 11px 3px inset;
    //box-shadow: 0 0 15px 2px #ce08d7,#ce08d7 0 0 11px 3px inset;
    box-shadow: 0 0 15px 2px #2175c0,#2175c0 0 0 11px 3px inset;
    text-shadow: 0 0 1px #2175c0,0 0 2px #2175c0,0 0 3px #2175c0,0 0 4px #2175c0,0 0 5px #22A7F0,0 0 6px #22A7F0;

    &:focus {
        color: #fff;
        border-color: #22A7F0;
        background-color: transparent;
        box-shadow: 0 0 15px 2px #2175c0,#2175c0 0 0 11px 3px inset;
        text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #22A7F0,0 0 55px #22A7F0;
    }
}

.has-error {
    .form-control {
        border-color: #ce08d7;

        &:focus {
            color: #fff;
            border-color: #ce08d7;
            background-color: transparent;
            box-shadow: 0 0 15px 2px #ce08d7,#ce08d7 0 0 11px 3px inset;
        }
    }
}

span.help-block.has-error.ng-scope{
        color: #fff;
        background-color: transparent;
        text-shadow: 0 0 5px #ce08d7,0 0 10px #ce08d7,0 0 20px #ce08d7,0 0 30px #ce08d7,0 0 40px #700475,0 0 55px #700475;
    
}

#custom-button2 {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
    border-radius: 0px;
    width: 12em;
    margin-top: 50px;

    &:hover {
        color: #fff;
        border-color: #22A7F0;
        background-color: transparent;
        box-shadow: 0 0 15px 2px #2175c0,#2175c0 0 0 11px 3px inset;
        text-shadow: 0 0 5px #2175c0,0 0 10px #2175c0,0 0 20px #2175c0,0 0 30px #2175c0,0 0 40px #22A7F0,0 0 55px #22A7F0;
    }

    &:focus {
        color: #fff;
        border-color: #ce08d7;
        background-color: transparent;
        box-shadow: 0 0 15px 2px #ce08d7,#ce08d7 0 0 11px 3px inset;
        text-shadow: 0 0 5px #ce08d7,0 0 10px #ce08d7,0 0 20px #ce08d7,0 0 30px #ce08d7,0 0 40px #700475,0 0 55px #700475;
    }
}


